* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eef2f3;
  color: #222;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: #e95454;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 30px;
}

.logo img {
  width: 120px;
  margin-left: 50px;
}

.pages {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-size: 21px;
  padding: 20px 50px;
}

.pages li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.pages li a:hover {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.pages li i:hover {
  color: #fff;
  font-size: 25px;
}

/* Banner  */

#banner img {
  width: 100%;
  height: 850px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* About Section */
#about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px 80px;
  background-color: #eef2f3;
}

.about-image img {
  width: 480px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #000;
}

.about-content h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 16px;
  color: #444;
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 10px;
}

/* Products */
.title2 h2 {
  width: 100%;
  font-size: 36px;
  text-align: center;

  background-color: #eef2f3;
}

.title2 p {
  font-size: 18px;
}

.Products {
  justify-content: center;
  display: flex;
  background-color: #eef2f3;
  margin-bottom: 30px;
}
.p-box {
  width: 400px;
  height: 650px;
  margin: 20px;
  margin-top: 30px;
  box-shadow: 0 0 10px #fffcfc;

  border-radius: 10px;
}

.p-box button {
  padding: 10px;
  margin-left: 30px;
  background-color: rgb(138, 138, 196);
  border-radius: 5px;
  color: #ccc;
  font-size: 18px;
  margin-top: 20px;
}

.p-box img {
  width: 280px;
  height: 320px;
  border: 5px solid #ffff;
  margin-top: 20px;
  box-shadow: 0 0 10px #ccc;
  margin-left: 25px;
}

.p-box h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 20px;
}

.p-box p {
  margin-left: 10px;
  font-size: 18px;

  padding: 10px;
  font-weight: bold;
}
.p-box p span {
  text-decoration: line-through;
  color: red;
  font-weight: normal;
}

.p-box:hover {
  transform: scale(1.02);
  transition: 0.3s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Brand logo */

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;

  background-color: #eef2f3;
}
.company-logo img {
  width: 200px;
  border: 1px solid #000000;
}

/* sections */
.section {
  text-align: center;
  padding: 50px 0;
}

.section h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #aeeaf3;
  width: 230px;
  border: 1px solid #94d2e5;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.card p {
  font-size: 13px;
  color: #222;
  line-height: 1.5;
  text-align: justify;
}

.profile {
  text-align: center;
  border-top: 1px solid #94d2e5;
  margin-top: 10px;
  padding-top: 10px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.profile h3 {
  font-size: 14px;
  color: #222;
  margin: 0;
}

/* footer */
footer {
 background-color: #e95454;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}




